[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
gunicorn = "*"
face-recognition = "*"
dlib = "*"
pillow = "*"
pillow-heif = "*"
numpy = "*"
pydantic = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
