[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
gunicorn = "*"
onnxruntime = "*"
pillow = "*"
pillow-heif = "*"
numpy = "*"
pydantic = "*"
flask = "*"
psycopg = "*"
sqlalchemy = "*"
alembic = "*"
pgvector = "*"
insightface = "*"

[dev-packages]

[requires]
python_version = "3.10"
